* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #2d9acc, #1fe34d);
}

.color {
  background: #ffffff;
  padding: 30px 40px;
  border-radius: 16px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
}

table {
  width: 450px;
  border-collapse: collapse; /* ensures single clean lines */
  text-align: center;
  font-size: 20px;
  border: 2px solid  #040705; /* outer border */
}

th, td {
  border: 2px solid #020705; /* inner grid lines */
  padding: 15px;
}

th {
  background: #dd6b99;
  color: rgb(10, 7, 7);
  letter-spacing: 1px;
  padding: 5px;
}

tr:last-child td {
  border-bottom: none;
}

@media (max-width: 500px) {
  table {
    width: 100%;
    font-size: 18px;
  }
}